
.topnav {
    background-color: #333;
    overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 5;
}
  .topnav .navi {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .navi:hover {
    background-color: #ddd;
    color: rgb(41, 40, 40);
    font-weight: bold;
  }
  .topnav .navi.active {
    background-color: #0a0a0a;
    color: white;
  }

.navbar-header{
    padding-top:15px;
    padding-bottom: 10px;
    
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: #333;
    margin:0;
    border:0px;
    z-index: 5;
}


.topnav-right {
    float: right;
  }
.header{
    top:0;
    left:0;
    position:fixed
}

.overlay12 {
   
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 15;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .overlay12-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
 .main1{
     padding-top: 50px;
 }

  .overlay12 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; }
  
 
  .overlay12 a:hover, .overlay12 a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay12 .closebtn {
    position: absolute;
    top: 20px;
    right: 4px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay12 a {font-size: 20px}
    .overlay12 .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
