* {
    box-sizing: border-box;
  }

.menu {
    width: 25%;
    float: left;
  }
  .main {
    width: 85%;
    float: right;
  }
  .sidenav {
      height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    margin-top: 13px;
    padding-top: 30px;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .btn.active1{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
  }
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: #ddd;
    color: rgb(41, 40, 40);
    font-weight: bold;
  }
  
  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
  .active {
    background-color: #ddd;
    color: rgb(41, 40, 40);
    font-weight: bold;
  }
  .dropdown-container {
    display: none;
    background-color: #333;
  }
  .dropdown-container a{
      
    font-size: 15px;
  }


  
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .container2{
  width: 100%;
  margin-right:15%;
  display: block;
  }
  @media (min-width: 576px) {
   
  }
  
  @media (min-width: 768px) {
    .container2, .container2-sm, .container2-md {
      max-width: 720px;
      
  margin-left: 15%;
    }
  }
  
  @media (min-width: 992px) {
    .container2, .container2-sm, .container2-md, .container2-lg {
      max-width: 990px;
      
  margin-left: 15%;
    }
  }
  
  @media (min-width: 1200px) {
    .container2, .container2-sm, .container2-md, .container2-lg, .container2-xl {
      max-width: 85vw;
  margin-left: 10%;
    }
  }
  .sidebar1 {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 2;
    top: 25;
    margin-top: 20px;
    left: 0;
    background-color: #333; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;   
    text-align: left;
  }
  
  .sidebar1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .btn{
      text-align: left;
  }
  .btnfont{
      font-size:25vw;
  }
  .dropdown-btn1 {
    padding: 8px 8px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .above100000{
    margin-bottom:  10px ;
  }
  
  .sidebar1 a:hover {
    color: #f1f1f1;
  }
  
  .sidebar1 .closebtn1 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn1 {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    position: fixed;
    z-index: 2;
    width: 100%;
    border: none;
  }
  
  .openbtn1:hover {
    background-color: #333333;
  }
  #main2 {
    transition: margin-left .5s; 
    padding-top: 25px;
    z-index: 20;
    border: 0px;
    margin: 0px;
  }
  .dropdown-container1 a{
    font-size: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar1 {padding-top: 15px;}
    .sidebar1 a {font-size: 18px;}
  }

  .icon-bar1 {
    position: fixed;
    right: 0;
    top:50;
    padding-top:10%;
    z-index: 5;
  }

  
  .icon-bar1 a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar1 a:hover {
    background-color: #000;
    width: 100px;
    color:white;
  }
  
  .facebook {
    background: #333;
    color: white;
  }
  
  .twitter {
    background: #333;
    color: white;
  }
  
  .google {
    background: #333;
    color: white;
  }
  
  .linkedin {
    background: #333;
    color: white;
  }
  
  .youtube {
    background: #333;
    color: white;
  }

  .content1{
    padding-left: 12%;
    padding-top: 15px;
    overflow: hidden;
  }
@media screen and (max-width: 992px) {
  .content1{
    padding-left: 15%;
    padding-top: 15px;
  }
  .frame {
    height: 90vh;
    width: 100vw;
  }
  .header2{
    padding-top:8vw !important;
  }
  
  .cointaner{
    margin-right: 0% !important;
    width: 750px !important;
  }
  .plan {
    position: absolute;
    width: 16vw !important;
    height: 20vh !important;
  }
  .plan.pro {
    left: 22vw !important;
  }
  .plan.premium {
    left: 41vw !important;
  }
  .datas {
    position: absolute;
    height:44vh ;
    width: 58vw !important;
    top: 220px;
    left: 10px;
  }
}
@media screen and (max-width: 1250  px) {
  .content12{
    padding-left: 10% !important;
    padding-top: 15px;
  }
  .cointaner{
    margin-right: 0% !important;
    width: 750px !important;
  }
  .frame {
    height: 80vh;
    width: 100vw;
  }
  
  .plan {
    position: absolute;
    width: 18vw !important;
    height: 20vh !important;
  }
  .plan.pro {
    left: 23vw !important;
  }
  .plan.premium {
    left: 42vw !important;
  }
  .datas {
    position: absolute;
    height:44vh ;
    width: 58vw !important;
    top: 220px;
    left: 10px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 100px){
  .frame {
    height: 100vh !important ;
    width: 100vw;
  }
  .header2{
    padding-top:2vh !important;
  }
  .plan {
    position: absolute;
    width:30vw !important;
    height: 25vh !important;
    left: 0 !important;
  }
  .plan.pro {
    left: 35vw !important;
  }
  .plan.premium {
    left: 70vw !important;
  }
  .datas {
    position: absolute;
    height:44vh ;
    width: 100vw  !important;
    top: 220px;
    left: 0px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px){
  .frame {
    height: 80vh !important ;
    width: 100vw;
  }
  .plan {
    position: absolute;
    width:30vw !important;
    height: 25vh !important;
    left: 0 !important;
  }
  .plan.pro {
    left: 35vw !important;
  }
  .plan.premium {
    left: 70vw !important;
  }
  .datas {
    position: absolute;
    height:44vh ;
    width: 100vw  !important;
    top: 220px;
    left: 0px !important;
  }
}
@media screen and (max-width: 1100px) and (min-width: 768px) {
  .content1{
    padding-left: 18%;
    padding-top: 15px;
  }
  .frame {
    height: 80vh;
    width: 100vw;
  }
  .header2{
    padding-top:8vw !important;
  }
  .plan {
    position: absolute;
    width: 18vw !important;
    height: 23vh !important;
  }
  .plan.pro {
    left: 23vw !important;
  }
  .plan.premium {
    left: 43vw !important;
  }
  .datas {
    position: absolute;
    height:44vh ;
    width: 60vw !important;
    top: 220px;
    left: 10px;
  }
}
@media screen and (max-width: 835px) {
  .content1{
    padding-top: 15px;
  }
}

@media screen and (max-width: 769px) {
  .content1{
    padding-left: 0%;
    padding-top: 15px;
  }
  .plan{
    z-index: 0 !important;
  }
  
  .frame{
    z-index: 0 !important;
  }
}
.header2{
  padding-top: 8%;
  text-align: center;
  font-weight: bolder;
}

.frame {
  position: relative;
  height: 80vh;
  width: 100vw;
  z-index: 0;
  color: #302f2f;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plan {
  position: absolute;
  width: 19vw;
  height: 30vh;
  top: 30px;
  left: 25px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.plan.basic ~ .datas .users .fill,
.plan.basic ~ .datas .gb .fill,
.plan.basic ~ .datas .projects .fill {
  -webkit-transform: scaleX(0.05) translate3d(0, 0, 0);
          transform: scaleX(0.05) translate3d(0, 0, 0);
          
}
.plan.pro {
  left: 26vw;
}
.plan.pro:hover ~ .datas .users .fill {
  -webkit-transform: scaleX(0.3) translate3d(0, 0, 0);
          transform: scaleX(0.3) translate3d(0, 0, 0);
}
.plan.pro:hover ~ .datas .gb .fill {
  -webkit-transform: scaleX(0.7) translate3d(0, 0, 0);
          transform: scaleX(0.7) translate3d(0, 0, 0);
}
.plan.pro:hover ~ .datas .projects .fill {
  -webkit-transform: scaleX(0.5) translate3d(0, 0, 0);
          transform: scaleX(0.5) translate3d(0, 0, 0);
}
.plan.premium {
  left: 52vw;
}
.plan.premium:hover ~ .datas .users .fill,
.plan.premium:hover ~ .datas .gb .fill,
.plan.premium:hover ~ .datas .projects .fill {
  -webkit-transform: scaleX(1) translate3d(0, 0, 0);
          transform: scaleX(1) translate3d(0, 0, 0);
          
}
.plan:hover {
  -webkit-transform: scale(1.1) translate3d(0, 0, 0);
          transform: scale(1.1) translate3d(0, 0, 0);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.plan:hover .title {
  background: #000;
}
.plan:hover .price {
  color: #333;
}
.plan .title {
  height: 36px;
  text-align: center;
  background: #333;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.plan .price {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 16px 0 17px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.plan .price span {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}
.plan .line {
  height: 3px;
  background: #E4E4E4;
  margin: 0 auto 7px auto;
}

.datas {
  position: absolute;
  height:44vh ;
  width: 72vw;
  top: 220px;
  left: 10px;
}
.datas .data {
  margin: 17px 15px 0 15px;
}
.datas .data .text {
  font-size: 12px;
  height: 20px;
}
.datas .data .text .left {
  float: left;
}
.datas .data .text .right {
  float: right;
}
.datas .data .line {
  position: relative;
  width: 100%;
  height: 3vh;
  background: #E9EDEF;
  border-radius: 5px;
  overflow: hidden;
}
.datas .data .line .fill {
  position: relative;
  z-index: 1;
  height: 3vh;
  width: 100%;
  background: #333;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}


.image22 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.container22:hover .image {
  opacity: 0.3;
}

.container22:hover .middle {
  opacity: 1;
}

.header1{
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}



.sky-tabs,
.sky-tabs * {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	background: none;
}
.sky-tabs {
	position: relative;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0;
  text-align: left;
	color: #666;
}
.sky-tabs > input {
	position: absolute;
	display: none;
}
.sky-tabs > label {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1px;
	padding-top: 0;
	padding-left: 0;
	font-size: 13px;
	line-height: 45px;
	cursor: pointer;
}
.sky-tabs > label.inverse {
	float: right;
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs > label.disabled {
	cursor: default;
}
.sky-tabs > label span {
	display: block;
	padding: 5px;
	background: rgba(255,255,255,0.9);
}
.sky-tabs > label span span {
  padding: 0 4.2vw;
  margin: 0 2px;
	background: transparent;
	transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	-ms-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	-webkit-transition: background 0.4s, color 0.4s;	
}
.sky-tabs > label:hover span span {
	background: #333333;
	color: #fff;	
}
.sky-tabs > label.disabled span span {
	background: transparent;
	color: inherit;
}
.sky-tabs > input:checked + label {
	cursor: default;
}
.sky-tabs > input:checked + label span span {
	background: #333;
	color: #fff;
}
.sky-tabs > .switcher {
	display: none;
}
.sky-tabs > .switcher a {
	display: block;
	margin: 0 -20px;
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
}
.sky-tabs > ul {
	list-style: none;
	position: relative;
	display: block;
	font-size: 13px;
}
.sky-tabs > ul > li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	padding: 20px 25px 25px;
	background: rgba(255,255,255,0.9);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-o-transition: opacity 0.8s, -o-transform 0.8s;	
	-ms-transition: opacity 0.8s, -ms-transform 0.8s;	
	-moz-transition: opacity 0.8s, -moz-transform 0.8s;	
	transition: opacity 0.8s, -webkit-transform 0.8s;
}
.sky-tabs > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9,
.sky-tabs > .sky-tab-content-10:checked ~ ul > .sky-tab-content-10,
.sky-tabs > .sky-tab-content-11:checked ~ ul > .sky-tab-content-11,
.sky-tabs > .sky-tab-content-12:checked ~ ul > .sky-tab-content-12,
.sky-tabs > .sky-tab-content-13:checked ~ ul > .sky-tab-content-13,
.sky-tabs > .sky-tab-content-14:checked ~ ul > .sky-tab-content-14,
.sky-tabs > .sky-tab-content-15:checked ~ ul > .sky-tab-content-15,
.sky-tabs > .sky-tab-content-16:checked ~ ul > .sky-tab-content-16,
.sky-tabs > .sky-tab-content-17:checked ~ ul > .sky-tab-content-17,
.sky-tabs > .sky-tab-content-18:checked ~ ul > .sky-tab-content-18,
.sky-tabs > .sky-tab-content-19:checked ~ ul > .sky-tab-content-19,
.sky-tabs > .sky-tab-content-20:checked ~ ul > .sky-tab-content-20,
.sky-tabs > .sky-tab-content-21:checked ~ ul > .sky-tab-content-21,
.sky-tabs > .sky-tab-content-22:checked ~ ul > .sky-tab-content-22,
.sky-tabs > .sky-tab-content-23:checked ~ ul > .sky-tab-content-23,
.sky-tabs > .sky-tab-content-24:checked ~ ul > .sky-tab-content-24,
.sky-tabs > .sky-tab-content-25:checked ~ ul > .sky-tab-content-25,
.sky-tabs > .sky-tab-content-26:checked ~ ul > .sky-tab-content-26,
.sky-tabs > .sky-tab-content-27:checked ~ ul > .sky-tab-content-27,
.sky-tabs > .sky-tab-content-28:checked ~ ul > .sky-tab-content-28,
.sky-tabs > .sky-tab-content-29:checked ~ ul > .sky-tab-content-29,
.sky-tabs > .sky-tab-content-30:checked ~ ul > .sky-tab-content-30,
.sky-tabs > .sky-tab-content-31:checked ~ ul > .sky-tab-content-31,
.sky-tabs > .sky-tab-content-32:checked ~ ul > .sky-tab-content-32,
.sky-tabs > .sky-tab-content-33:checked ~ ul > .sky-tab-content-33,
.sky-tabs > .sky-tab-content-34:checked ~ ul > .sky-tab-content-34,
.sky-tabs > .sky-tab-content-35:checked ~ ul > .sky-tab-content-35,
.sky-tabs > .sky-tab-content-36:checked ~ ul > .sky-tab-content-36,
.sky-tabs > .sky-tab-content-37:checked ~ ul > .sky-tab-content-37,
.sky-tabs > .sky-tab-content-38:checked ~ ul > .sky-tab-content-38,
.sky-tabs > .sky-tab-content-39:checked ~ ul > .sky-tab-content-39,
.sky-tabs > .sky-tab-content-40:checked ~ ul > .sky-tab-content-40,
.sky-tabs > .sky-tab-content-41:checked ~ ul > .sky-tab-content-41,
.sky-tabs > .sky-tab-content-42:checked ~ ul > .sky-tab-content-42,
.sky-tabs > .sky-tab-content-43:checked ~ ul > .sky-tab-content-43,
.sky-tabs > .sky-tab-content-44:checked ~ ul > .sky-tab-content-44,
.sky-tabs > .sky-tab-content-45:checked ~ ul > .sky-tab-content-45,
.sky-tabs > .sky-tab-content-46:checked ~ ul > .sky-tab-content-46,
.sky-tabs > .sky-tab-content-47:checked ~ ul > .sky-tab-content-47,
.sky-tabs > .sky-tab-content-48:checked ~ ul > .sky-tab-content-48,
.sky-tabs > .sky-tab-content-49:checked ~ ul > .sky-tab-content-49,
.sky-tabs > .sky-tab-content-50:checked ~ ul > .sky-tab-content-50  {
	position: relative;
	z-index: 1;
	opacity: 1;
	transform: translate(0,0);
}


/**/
/* positions */
/**/
.sky-tabs-pos-top-center {
	text-align: center;
}
.sky-tabs-pos-top-right {
	text-align: right;
}
.sky-tabs-pos-top-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-justify > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-2 > label {
	width: 50%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-3 > label {
	width: 33.33%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-4 > label {
	width: 25%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-5 > label {
	width: 20%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-6 > label {
	width: 16.66%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-7 > label {
	width: 14.28%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-8 > label {
	width: 12.5%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-9 > label {
	width: 11.11%;
}
.sky-tabs-pos-top-justify > input:first-child + label {
	padding-left: 0;
}
.sky-tabs-pos-left > label,
.sky-tabs-pos-right > label {
	display: block;
	width: 25%;
	float: left;
	clear: left;
	margin-right: 0;
}
.sky-tabs-pos-right > label {
	float: right;
	clear: right;
}
.sky-tabs-pos-left > ul {
	margin-left: 25%;
}
.sky-tabs-pos-right > ul {
	margin-right: 25%;
}
.sky-tabs-pos-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-center > ul > li,
.sky-tabs-pos-top-justify > ul > li {
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
.sky-tabs-pos-right > ul > li,
.sky-tabs-pos-top-right > ul > li {
	-o-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}


/**/
/* animations */
/**/
.sky-tabs-anim-slide-up > ul > li {
	-o-transform: translateY(-15%);
	-ms-transform: translateY(-15%);
	-moz-transform: translateY(-15%);
	transform: translateY(-15%);
}
.sky-tabs-anim-slide-right > ul > li {
	-o-transform: translateX(15%);
	-ms-transform: translateX(15%);
	-moz-transform: translateX(15%);
	transform: translateX(15%);
}
.sky-tabs-anim-slide-down > ul > li {
	-o-transform: translateY(15%);
	-ms-transform: translateY(15%);
	-moz-transform: translateY(15%);
	transform: translateY(15%);
}
.sky-tabs-anim-slide-left > ul > li {
	-o-transform: translateX(-15%);
	-ms-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
	transform: translateX(-15%);
}
.sky-tabs-anim-slide-up-left > ul > li {
	transform: translate(-15%,-15%);	
}
.sky-tabs-anim-slide-up-right > ul > li {
	transform: translate(15%,-15%);	
}
.sky-tabs-anim-slide-down-right > ul > li {
	transform: translate(15%,15%);	
}
.sky-tabs-anim-slide-down-left > ul > li {
	transform: translate(-15%,15%);	
}

.sky-tabs-anim-scale > ul > li {
	-o-transform: scale(0.1,0.1);
	-ms-transform: scale(0.1,0.1);
	-moz-transform: scale(0.1,0.1);
	transform: scale(0.1,0.1);
}
.sky-tabs-anim-scale > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-scale > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-scale > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-scale > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-scale > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-scale > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-scale > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-scale > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-scale > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9,
.sky-tabs-anim-scale > .sky-tab-content-10:checked ~ ul > .sky-tab-content-10,
.sky-tabs-anim-scale > .sky-tab-content-11:checked ~ ul > .sky-tab-content-11,
.sky-tabs-anim-scale > .sky-tab-content-12:checked ~ ul > .sky-tab-content-12,
.sky-tabs-anim-scale > .sky-tab-content-13:checked ~ ul > .sky-tab-content-13,
.sky-tabs-anim-scale > .sky-tab-content-14:checked ~ ul > .sky-tab-content-14,
.sky-tabs-anim-scale > .sky-tab-content-15:checked ~ ul > .sky-tab-content-15,
.sky-tabs-anim-scale > .sky-tab-content-16:checked ~ ul > .sky-tab-content-16,
.sky-tabs-anim-scale > .sky-tab-content-17:checked ~ ul > .sky-tab-content-17,
.sky-tabs-anim-scale > .sky-tab-content-18:checked ~ ul > .sky-tab-content-18,
.sky-tabs-anim-scale > .sky-tab-content-19:checked ~ ul > .sky-tab-content-19,
.sky-tabs-anim-scale > .sky-tab-content-20:checked ~ ul > .sky-tab-content-20,
.sky-tabs-anim-scale > .sky-tab-content-21:checked ~ ul > .sky-tab-content-21,
.sky-tabs-anim-scale > .sky-tab-content-22:checked ~ ul > .sky-tab-content-22,
.sky-tabs-anim-scale > .sky-tab-content-23:checked ~ ul > .sky-tab-content-23,
.sky-tabs-anim-scale > .sky-tab-content-24:checked ~ ul > .sky-tab-content-24,
.sky-tabs-anim-scale > .sky-tab-content-25:checked ~ ul > .sky-tab-content-25,
.sky-tabs-anim-scale > .sky-tab-content-26:checked ~ ul > .sky-tab-content-26,
.sky-tabs-anim-scale > .sky-tab-content-27:checked ~ ul > .sky-tab-content-27,
.sky-tabs-anim-scale > .sky-tab-content-28:checked ~ ul > .sky-tab-content-28,
.sky-tabs-anim-scale > .sky-tab-content-29:checked ~ ul > .sky-tab-content-29,
.sky-tabs-anim-scale > .sky-tab-content-30:checked ~ ul > .sky-tab-content-30,
.sky-tabs-anim-scale > .sky-tab-content-31:checked ~ ul > .sky-tab-content-31,
.sky-tabs-anim-scale > .sky-tab-content-32:checked ~ ul > .sky-tab-content-32,
.sky-tabs-anim-scale > .sky-tab-content-33:checked ~ ul > .sky-tab-content-33,
.sky-tabs-anim-scale > .sky-tab-content-34:checked ~ ul > .sky-tab-content-34,
.sky-tabs-anim-scale > .sky-tab-content-35:checked ~ ul > .sky-tab-content-35,
.sky-tabs-anim-scale > .sky-tab-content-36:checked ~ ul > .sky-tab-content-36,
.sky-tabs-anim-scale > .sky-tab-content-37:checked ~ ul > .sky-tab-content-37,
.sky-tabs-anim-scale > .sky-tab-content-38:checked ~ ul > .sky-tab-content-38,
.sky-tabs-anim-scale > .sky-tab-content-39:checked ~ ul > .sky-tab-content-39,
.sky-tabs-anim-scale > .sky-tab-content-40:checked ~ ul > .sky-tab-content-40,
.sky-tabs-anim-scale > .sky-tab-content-41:checked ~ ul > .sky-tab-content-41,
.sky-tabs-anim-scale > .sky-tab-content-42:checked ~ ul > .sky-tab-content-42,
.sky-tabs-anim-scale > .sky-tab-content-43:checked ~ ul > .sky-tab-content-43,
.sky-tabs-anim-scale > .sky-tab-content-44:checked ~ ul > .sky-tab-content-44,
.sky-tabs-anim-scale > .sky-tab-content-45:checked ~ ul > .sky-tab-content-45,
.sky-tabs-anim-scale > .sky-tab-content-46:checked ~ ul > .sky-tab-content-46,
.sky-tabs-anim-scale > .sky-tab-content-47:checked ~ ul > .sky-tab-content-47,
.sky-tabs-anim-scale > .sky-tab-content-50:checked ~ ul > .sky-tab-content-50 
.sky-tabs-anim-scale > .sky-tab-content-48:checked ~ ul > .sky-tab-content-48,
.sky-tabs-anim-scale > .sky-tab-content-49:checked ~ ul > .sky-tab-content-49 {
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}

.sky-tabs-anim-rotate > ul > li {
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sky-tabs-anim-rotate.sky-tabs-pos-right > ul > li,
.sky-tabs-anim-rotate.sky-tabs-pos-top-right > ul > li {
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.sky-tabs-anim-rotate > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-rotate > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-rotate > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-rotate > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-rotate > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-rotate > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-rotate > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-rotate > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-rotate > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

.sky-tabs-anim-flip > ul {
	perspective: 2000px;
	-o-perspective: 2000px;
	-ms-perspective: 2000px;
	-moz-perspective: 2000px;
	-webkit-perspective: 2000px;
	perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-webkit-perspective-origin: 50% 50%;
}
.sky-tabs-anim-flip > ul > li {
	-o-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.sky-tabs-anim-flip.sky-tabs-pos-left > ul > li {
	-o-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	transform: rotateY(90deg);	
}
.sky-tabs-anim-flip.sky-tabs-pos-right > ul > li {
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.sky-tabs-anim-flip > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-flip > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-flip > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-flip > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-flip > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-flip > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-flip > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-flip > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-flip > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


.sky-tabs .grid-row {
	margin-top: 20px;
}
.sky-tabs .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.sky-tabs .grid-row:first-child {
	margin-top: 0;
}
.sky-tabs .grid-col {
	display: block;
	float: left;
	width: 100%;
	margin-left: 2%;
}
.sky-tabs .grid-col:first-child {
	margin-left: 0;
}
.sky-tabs .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	text-align: center;
}
.sky-tabs .grid-col-1 {
	width: 6.5%;
}
.sky-tabs .grid-col-2 {
	width: 15%;
}
.sky-tabs .grid-col-3 {
	width: 23.5%;
}
.sky-tabs .grid-col-4 {
	width: 32%;
}
.sky-tabs .grid-col-5 {
	width: 40.5%;
}
.sky-tabs .grid-col-6 {
	width: 49%;
}
.sky-tabs .grid-col-7 {
	width: 57.5%;
}
.sky-tabs .grid-col-8 {
	width: 66%;
}
.sky-tabs .grid-col-9 {
	width: 74.5%;
}
.sky-tabs .grid-col-10 {
	width: 83%;
}
.sky-tabs .grid-col-11 {
	width: 91.5%;
}
.sky-tabs .grid-col-offset-1,
.sky-tabs .grid-col-offset-1:first-child {
	margin-left: 8.5%;
}
.sky-tabs .grid-col-offset-2,
.sky-tabs .grid-col-offset-2:first-child {
	margin-left: 17%;
}
.sky-tabs .grid-col-offset-3,
.sky-tabs .grid-col-offset-3:first-child {
	margin-left: 25.5%;
}
.sky-tabs .grid-col-offset-4,
.sky-tabs .grid-col-offset-4:first-child {
	margin-left: 34%;
}
.sky-tabs .grid-col-offset-5,
.sky-tabs .grid-col-offset-5:first-child {
	margin-left: 42.5%;
}
.sky-tabs .grid-col-offset-6,
.sky-tabs .grid-col-offset-6:first-child {
	margin-left: 51%;
}
.sky-tabs .grid-col-offset-7,
.sky-tabs .grid-col-offset-7:first-child {
	margin-left: 59.5%;
}
.sky-tabs .grid-col-offset-8,
.sky-tabs .grid-col-offset-8:first-child {
	margin-left: 68%;
}
.sky-tabs .grid-col-offset-9,
.sky-tabs .grid-col-offset-9:first-child {
	margin-left: 76.5%;
}
.sky-tabs .grid-col-offset-10,
.sky-tabs .grid-col-offset-10:first-child {
	margin-left: 85%;
}
.sky-tabs .grid-col-offset-11,
.sky-tabs .grid-col-offset-11:first-child {
	margin-left: 93.5%;
}


.sky-tabs .typography h1,
.sky-tabs .typography h2,
.sky-tabs .typography h3,
.sky-tabs .typography h4,
.sky-tabs .typography h5,
.sky-tabs .typography h6 {
	margin: 40px 0 0 0;
	padding: 0;
	text-align: left;
	color: #333;
}
.sky-tabs .typography h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 300;
}
.sky-tabs .typography h2 {
	font-size: 34px;
	line-height: 44px;
	font-weight: 300;
}
.sky-tabs .typography h3 {
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
}
.sky-tabs .typography h4 {
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
}
.sky-tabs .typography h5 {
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	text-transform: uppercase;
}
.sky-tabs .typography h6 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.sky-tabs .typography p {
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 20px;
	text-align: left;
}
.sky-tabs .typography ul,
.sky-tabs .typography ol {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 20px;
}
.sky-tabs .typography li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.sky-tabs .typography li ul,
.sky-tabs .typography li ol {
	margin-top: 5px;
}
.sky-tabs .typography ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 4px;
	height: 4px;
	background: #333;
}
.sky-tabs .typography ol {
	counter-reset: list1;
}
.sky-tabs .typography ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
	color: rgb(20, 20, 20);
}
.sky-tabs .typography a {
	text-decoration: underline;
	color: #000000;
}
.sky-tabs .typography a:hover {
	text-decoration: none;
}
.sky-tabs .typography .pic {
	padding: 4px;
	border: 1px dotted #ccc;
}
.sky-tabs .typography .pic img {
	display: block;
}
.sky-tabs .typography .pic-right {
	float: right;
	margin: 0 0 10px 20px;
}
.sky-tabs .typography .link {
	text-decoration: underline;
	color: #2da5da;
	cursor: pointer;
}
.sky-tabs .typography .link:hover {
	text-decoration: none;
}
.sky-tabs .typography h1:first-child,
.sky-tabs .typography h2:first-child,
.sky-tabs .typography h3:first-child,
.sky-tabs .typography h4:first-child,
.sky-tabs .typography h5:first-child,
.sky-tabs .typography h6:first-child,
.sky-tabs .typography p:first-child {
	margin-top: 0;
}
.sky-tabs .typography .text-center {
	text-align: center;
}
.sky-tabs .typography .text-right {
	text-align: right;
}


.sky-tabs > label [class^="icon-"] {
	display: block;
	float: left;
	width: 18px;
	margin: 0 12px 0 -6px;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


/**/
/* pad */
/**/
@media screen and (max-width: 1000px) {
	.sky-tabs > label span span {
		padding: 0 15px;
	}
	.sky-tabs > label [class^="icon-"] {
		margin-right: 10px;
		margin-left: -5px;
	}
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	
	.sky-tabs .grid-col,
	.sky-tabs .grid-col:first-child {
		float: none;
		width: 100%;
		margin: 20px 0 0 0;
	}
	
	.sky-tabs-response-to-stack > label {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-stack > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-stack > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-stack.sky-tabs-anim-flip > ul > li {
		transform: rotateX(-90deg);
	}
	
	.sky-tabs-response-to-icons > label {
		font-size: 0;
	}
	.sky-tabs-response-to-icons > label [class^="icon-"] {
		width: 45px;
		margin: 0;
		font-size: 16px;
	}
	.sky-tabs-response-to-icons > label span span {
		padding: 0;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > label,
	.sky-tabs-response-to-icons.sky-tabs-pos-right > label {
		width: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > ul {
		margin-left: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-right > ul {
		margin-right: 56px;
	}
	
	.sky-tabs-response-to-switcher > label {
		display: none;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-switcher > .switcher {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > label {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > .switcher {
		display: none;
	}
	.sky-tabs-response-to-switcher > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-switcher > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-switcher.sky-tabs-anim-flip > ul > li {
		transform: rotateX(-90deg);
	}
}